<form method="POST" action="/user/register">
    <h1>Register</h1>

    <p>Personal info</p>
    <label for="username">Username</label>
    <input id="username" name="username" type="text" placeholder="Username">

    <label for="password">Password</label>
    <input id="password" name="password" type="password" placeholder="******">

    <label for="repeatPassword">Repeat Password</label>
    <input id="repeatPassword" name="repeatPassword" type="password" placeholder="******">
    <hr>
    <p>Account</p>
    <label for="amount">Amount</label>
    <input id="amount" name="amount" type="number" placeholder="0.0">

    <button type="submit">Register</button>
</form>